@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sintony&display=swap');

/* Navbar */
.logo{
    position: relative;
    top: 0px;
    left: 0px;
    width: 92px;
    height: 47px;
}

.navbar-light .navbar-toggler{
    color: rgba(0,0,0,.5);
    border-color: white !important;
}

.navbar-nav.mr-auto{
    margin-left: auto !important;
    margin-right: 0px !important;
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: #82003c !important;
}

.navbar-brand{
    color: #fcf9fa !important;
}

.nav-link{
    color: #fcf9fa !important;
}

.inputs-Nav{
    display: block !important;
}

.form-control{
    display: none !important;
    width: 300px !important;
    padding-top: 3px !important;
}

.btn{
    display: none !important;
}

.btn.btn-info{
    margin-left: 10px;
}

.btn-outline-success{
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.dropdown{
    margin-top: 0px !important;
    list-style: none !important;
}

.consultaLibro{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.espaciado{
    margin-top: 20px;
}

.opcionesUsuarioRegistrado{
    display: none;
}

.icons{
    height: 25px;
    margin-right: 10px;
}

.icons.libro{
    margin-left: 50px;
}

<<<<<<< HEAD
/* Footer */
.items-Footer{
    text-align: center;
}

=======
>>>>>>> 09448d4b4eaa1cdb996d69aeca446ad0599fb626

@media (min-width:992px){

    .logo{
        left: 50px;
    }

    .navbar{
        height: 80px;
    }

    .form-control{
        display: block !important;
        width: 300px !important;
    }

    .btn{
        display: block !important;
    }

    .login{
        display: none !important;
    }
<<<<<<< HEAD

    .items-Footer{
        display: flex !important; 
        justify-content: center;
    }
=======
>>>>>>> 09448d4b4eaa1cdb996d69aeca446ad0599fb626
}