@import url('https://fonts.googleapis.com/css?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css?family=Sintony&display=swap');

/* Navbar */
.logo{
    position: relative;
    top: 0px;
    left: 0px;
    width: 92px;
    height: 47px;
}

.navbar-light .navbar-toggler{
    color: rgba(0,0,0,.5);
    border-color: white !important;
}

.navbar-nav.mr-auto{
    margin-left: auto !important;
    margin-right: 0px !important;
}

.navbar.navbar-expand-lg.navbar-light.bg-light{
    background-color: #82003c !important;
}

.navbar-brand{
    color: #fcf9fa !important;
}

.nav-link{
    color: #fcf9fa !important;
}

.form-control{
    display: none !important;
    width: 300px !important;
    padding-top: 3px !important;
}

.btn{
    display: none !important;
}

.btn.btn-info{
    margin-left: 10px;
}

.btn-outline-success{
    color: #fff !important;
    background-color: #28a745 !important;
    border-color: #28a745 !important;
}

.textFont{
    font-family: 'Sintony';
}

/* Formulario */
.form-control.form{
    display: block !important;
}

.form-control.formInput{
    display: block !important;
    margin: auto;
}

.form-control.formInput.apellido{
    margin-top: 25px !important;
}

.form{
    margin: auto;
    margin-top: 50px;
}

.custom-checkbox{
    margin-top: 0px !important;
}

.btn.btn-primary.form{
    display: block !important;
}

.btn-registro{
    display: block !important;
    background-color: #82003c !important;
    border-color: #82003c !important;
    margin-top: 40px !important;
    width: 30% !important;
    margin: auto !important;
}

/* Thank You page */
.jumbotron{
    background: white !important;
}

hr{
    width: 70% !important;
}

.btn-reLogin{
    width: 10% !important;
    margin: auto !important;
}

.btn.btn-primary.btn-sm{
    background-color: #82003c !important;
    border-color: #82003c !important;
}

/* Medias */
@media (min-width:725px){
    .form-control.formInput.apellido{
        margin-top: 0px !important;
    }

    .custom-checkbox{
        margin-top: -20px !important;
    }
}

@media (min-width:992px){

    .logo{
        left: 50px;
    }

    .navbar{
        height: 80px;
    }

    .form-control{
        display: block !important;
        width: 300px !important;
    }

    .form-control.formInput.apellido{
        margin-top: 0px !important;
    }

    .btn{
        display: block !important;
    }

    .login{
        display: none !important;
    }
}